@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css';

//General project CSS

:root {
  font: 16px / 1 sans-serif;
  --link: rgb(220, 234, 235);
  --link-hover: rgb(204, 73, 50);
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

main {
  margin: 0;
  min-height: 100vh;
  color: rgb(87, 65, 23);
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

header {
  z-index: 10;
  position: sticky;
  top: 0;
}

// Portfolio CSS

.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
  align-items: center;
  border-bottom: 0.5px solid rgb(225, 225, 225);
  background-color: rgb(255, 255, 255);
  color: rgb(87, 65, 23);

  ul {
    display: flex;
    align-content: center;
    text-decoration: none;
    margin: 0;
  }

  li {
    font-size: 20px;
  }

  li + li {
    padding-left: 1rem;
    font-size: 20px;
  }
}
.nav-left img {
  vertical-align: bottom;
  margin-left: 10px;
}

.nav-right {
  padding-right: 10px;

  li a {
    text-decoration: none;
    color: inherit;
    font-size: 24px;
  }
}

.nav-icon {
  color: rgb(42, 165, 159);
}

.home {
  background-color: rgb(204, 73, 50);
  padding: 0.5rem 0.75rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  color: rgb(252, 249, 249);

  h1,
  h2 {
    display: flex;
    justify-content: center;
  }

  .headshot {
    display: flex;
    justify-content: center;

    img {
      padding-top: 2rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      border-radius: 50%;
      display: flex;
      background-color: rgb(42, 165, 159);
      border: rgb(42, 165, 159);
      border-style: solid;
      border-width: 2px;
    }
  }
}

.about {
  background-color: rgb(204, 150, 50);
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;

  h3 {
    color: rgb(177, 216, 211);
    background-color: rgb(204, 73, 50);
    border-radius: 15px;
    padding: 0.5rem;
  }

  h4 {
    color: rgb(50, 204, 189);
  }

  p {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .technical {
    display: flex;
    justify-content: space-around;

    .skills {
      margin-left: 0.5rem;
    }

    .technical-skills,
    .meetups {
      margin-left: 0.75rem;
    }
    .community {
      margin-left: 3rem;
    }
  }
  .experience {
    margin-left: 1rem;
  }

  button {
    margin-top: 1rem;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    width: auto;
    background-color: salmon;
    padding: 0.5rem;

    .button:hover {
      background-color: rgb(42, 165, 159);
    }
  }
}

.about-details {
  margin: 1rem 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: rgb(87, 65, 23);
  color: white;
  border-radius: 20px;
  padding: 2rem;
}
.technical-skills,
.meetups {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  a {
    // text-decoration: none;
    color: inherit;
    color: rgb(220, 234, 235);
  }
  a:hover {
    color: rgb(204, 73, 50);
  }
  a:active {
    color: rgb(128, 48, 34);
  }
}

.technology-logos {
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 36px;
  color: rgb(109, 226, 220);
  flex-wrap: wrap;
}

.portfolio {
  background-color: rgb(235, 219, 149);
  padding: 0.5rem 0.75rem;
  margin-bottom: 1rem;
}

.contact ul {
  background-color: rgb(87, 65, 23);
  padding: 0.75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  font-size: 36px;
  color: rgb(252, 249, 249);
  flex-wrap: wrap;

  :hover {
    color: rgb(204, 73, 50);
  }

  :active {
    color: rgb(128, 48, 34);
  }

  li {
    margin-top: 0.5rem;
  }
}

footer {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  font-size: 12px;
  background-color: rgb(157, 221, 240);
  position: relative;
  width: 100%;
  bottom: 0;
  height: 45px;
  align-items: center;

  .heart {
    color: red;
  }
}
