@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Source+Code+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Special+Elite&display=swap');

:root {
  font: 16px / 1 sans-serif;
  --link: rgb(220, 234, 235);
  --link-hover: rgb(204, 73, 50);
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

main {
  margin: 0;
  min-height: 100vh;
  color: rgb(85, 77, 61);
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

header {
  z-index: 10;
  position: sticky;
  top: 0;
}
