@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Source+Code+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Special+Elite&display=swap');

//General project CSS

:root {
  font: 16px / 1 sans-serif;
  --link: rgb(220, 234, 235);
  --link-hover: rgb(204, 73, 50);
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

main {
  margin: 0;
  min-height: 100vh;
  color: rgb(85, 77, 61);
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

header {
  z-index: 10;
  position: sticky;
  top: 0;
}

.id {
  margin-top: 10px;
}

.section-header {
  font-family: 'Special Elite', cursive;
  padding-left: 15px;
  font-weight: 900;
}

// Content CSS

.project-title {
  font-family: 'Special Elite', cursive;
  font-weight: 700;
}

.about {
  background-color: rgb(44, 145, 176);
  padding-top: 64px;
  padding-bottom: 64px;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;

  .about-details {
    margin: 1rem 1rem;
    padding-bottom: 1rem;
    background-color: rgb(85, 77, 61);
    color: white;
    border-radius: 20px;
    padding: 2rem 2rem;
    line-height: 1.1rem;
  }

  a.sdg {
    color: inherit;
    color: rgb(220, 234, 235);
  }

  a.sdg:hover {
    color: rgb(204, 73, 50);
  }

  a.sdg:active {
    color: rgb(44, 145, 176);
  }

  h3 {
    color: rgb(235, 231, 223);
    background-color: rgb(204, 73, 50);
    border-radius: 15px;
    padding: 0.5rem;
    display: flex;
    align-self: center;
    margin-top: 1px;
  }

  h4 {
    color: rgb(50, 204, 189);
  }

  a {
    color: inherit;
  }

  a:hover {
    color: rgb(204, 73, 50);
  }

  p {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .technical {
    margin-bottom: 0.5rem;

    .skills {
      margin-left: 0.5rem;
      margin-bottom: 1rem;
    }

    .technical-skills,
    .meetups {
      margin-left: 0.75rem;
    }
    .community {
      margin-left: 0.75rem;
      margin-bottom: 1rem;
    }
  }

  .community-service {
    a {
      color: inherit;
      color: rgb(220, 234, 235);
    }
    a:hover {
      color: rgb(204, 73, 50);
    }
    a:active {
      color: rgb(44, 145, 176);
    }
  }

  button {
    margin-top: 1rem;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    width: auto;
    color: rgb(87, 65, 23);
    background-color: rgb(220, 234, 235);
    padding: 0.5rem;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
  .button:hover {
    background-color: rgb(204, 73, 50);
    color: rgb(220, 234, 235);

    a:hover {
      background-color: rgb(204, 73, 50);
      color: rgb(220, 234, 235);
    }
  }

  .button:active {
    background-color: rgb(44, 145, 176);
    color: rgb(220, 234, 235);

    a:active {
      background-color: rgb(44, 145, 176);
      color: rgb(220, 234, 235);
    }
  }
}

.technical-skills,
.meetups {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  a {
    color: inherit;
    color: rgb(220, 234, 235);
  }
  a:hover {
    color: rgb(204, 73, 50);
  }
  a:active {
    color: rgb(44, 145, 176);
  }
}

.portfolio {
  background-color: rgb(235, 219, 149);
  padding-top: 64px;
  padding-bottom: 64px;
  margin: 2rem 2rem;

  a {
    color: inherit;
  }
  a:hover {
    color: rgb(204, 73, 50);
  }

  a:active {
    color: rgb(44, 145, 176);
  }

  h2 {
    text-align: center;
  }

  ul.listing-details {
    margin-left: 0.25rem;
    margin-right: 0.25rem;

    li {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    .screenshot {
      text-align: center;
    }

    p {
      padding-left: 1rem;
      padding-right: 1rem;
      line-height: 1.1rem;
    }

    img {
      border: rgb(70, 169, 199);
      border-style: solid;
      border-width: 2px;
      margin-left: 1rem;
    }
  }
  .capstone-phases li {
    margin-top: 0.5rem;
    padding-left: 3rem;
    padding-right: 1rem;
  }
}

.contact {
  background-color: rgb(85, 77, 61);
  color: rgb(252, 249, 249);
  padding-top: 64px;
  padding-bottom: 64px;
  margin-bottom: 1rem;

  ul {
    padding: 0.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    justify-content: space-around;
    font-size: 48px;
    flex-wrap: wrap;
    color: rgb(177, 216, 211);
  }
  li {
    background-color: rgb(44, 145, 176);
    border-radius: 50px;
    height: 50px;
    width: 50px;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    margin: 0.5rem;

    .github,
    .linkedin {
      font-size: 50px;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
    :hover {
      color: rgb(204, 73, 50);
    }

    :active {
      color: rgb(128, 48, 34);
    }
  }
}

footer {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  font-size: 12px;
  background-color: rgb(70, 169, 199);
  position: relative;
  width: 100%;
  bottom: 0;
  height: 45px;
  align-items: center;

  .heart {
    color: red;
  }
}

// MEDIA QUERIES

@media screen and (max-width: 900px) {
  nav {
    transform: translateX(-100%);
  }
}

@media screen and (min-width: 800px) {
  .nav-right {
    padding-right: 10px;

    .nav-text {
      display: inline;
    }
  }

  .home-body {
    display: flex;
    justify-content: space-evenly;
  }

  .home-header h1 {
    transform: translateY(25px);
  }

  ul.home-header li {
    font-family: 'Special Elite', cursive;
  }

  .home-body-right {
    margin-top: 2.5rem;
    transform: translateY(-30px);
  }

  ul.home-list li {
    display: flex;
    justify-content: start;
    align-content: space-between;
    font-size: 2rem;
    color: rgb(31, 30, 30);
    font-size: 1.5rem;
    margin-top: 1rem;
    font-family: 'Homemade Apple', cursive;
  }

  .about {
    background-color: rgb(44, 145, 176);
    padding-top: 64px;
    padding-bottom: 64px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;

    .about-details {
      margin: 1rem 2rem;
      margin-left: 2rem;
      margin-right: 2rem;
      background-color: rgb(85, 77, 61);
      color: white;
      border-radius: 20px;
      padding: 1rem 2rem;
      line-height: 1.3rem;
    }
  }

  .technical {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.5rem;

    .skills {
      margin-left: 0.5rem;
    }

    .technical-skills,
    .meetups {
      margin-left: 0.75rem;
    }
    .community {
      margin-left: 3rem;
    }
  }

  .portfolio h2 {
    text-align: left;
    margin-left: 2rem;
  }

  ul.listing-details {
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;

    p {
      margin-top: 0;
      margin-left: 1rem;
      margin-right: 1rem;
      line-height: 1.3rem;
    }

    li {
      margin-left: 2rem;
      margin-right: 2rem;
      margin-bottom: 1rem;
      text-align: left;
      line-height: 1.3rem;
    }

    img {
      border: rgb(70, 169, 199);
      border-style: solid;
      border-width: 2px;
    }
  }

  .contact {
    background-color: rgb(85, 77, 61);
    color: rgb(252, 249, 249);
    padding: 1rem;
    margin-bottom: 1rem;

    ul {
      padding: 0.75rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-left: 3rem;
      margin-right: 3rem;
      display: flex;
      justify-content: space-around;
      font-size: 48px;
      flex-wrap: wrap;
      color: rgb(177, 216, 211);
    }

    li {
      background-color: rgb(44, 145, 176);
      border-radius: 50px;
      height: 50px;
      width: 50px;
      padding: 1.5rem;
      display: flex;
      margin-top: 1px;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 375px) {
  .nav-right {
    padding-right: 8px;
  }
}

// fix nav-bar li li CSS to fix indent of hamburger menu items
// figure out spacing between menu items
// fix coloring of about section
// spruce up section headers - typewrite font?
// adjust margins for full screen - too close to the edge
